# Deploy Archives
__BACKUP_DUPLICATES__/
__ARCHIVE_NOT_USED_FOR_DEPLOY__/
DEPLOY_CLOUDFLARE/
DEPLOY_PUBLIC/DEPLOY_PUBLIC/

# System & Deps
node_modules/
.env
.env*
*.log
.DS_Store
Thumbs.db
.tmp/
.gemini/
